<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <title>Education Academy</title>
</head>

<body>

  <form id="addCourseForm" class="w-75">
    <!-- title -->
    <div class="mb-3">
      <label for="title" class="form-label">Course Title</label>
      <input type="text" name="title" class="form-control" id="title">
    </div>

    <!-- content -->
    <div id="summernote"></div>
    <!-- <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" name="description" class="form-control" id="description">
    </div> -->

    <!-- Duration -->
    <div class="mb-3">
      <label for="duration" class="form-label">Course Duration</label>
      <input type="number" name="duration" class="form-control" id="duration">
    </div>

    <!-- Regular Price -->
    <div class="mb-3">
      <label for="regularPrice" class="form-label">Regular Price</label>
      <input type="number" name="regularPrice" class="form-control" id="regularPrice">
    </div>

    <!-- Discounted Price -->
    <div class="mb-3">
      <label for="discountedPrice" class="form-label">Discounted Price</label>
      <input type="number" name="discountedPrice" class="form-control" id="discountedPrice">
    </div>

    <!-- lecture  Count -->
    <div class="mb-3">
      <label for="lectureCount" class="form-label">Lecture Count</label>
      <input type="number" name="lectureCount" class="form-control" id="lectureCount">
    </div>

    <!-- study  mode -->
    <div class="mb-3">
      <label for="studyMode" class="form-label">Study Mode</label>

      <!-- online -->
      <label for="online" class="form-check-label">online</label>
      <input type="radio" name="studyMode" class="form-check-input" value="online" id="online">

      <!-- offline -->
      <label for="offline" class="form-check-label">offline</label>
      <input type="radio" name="studyMode" class="form-check-input" value="offline" id="offline">

    </div>

    <!-- file -->
    <div class="mb-3">
      <label for="coursefile" class="form-label">Course file</label>
      <input class="form-control" name="file" id="file" type="file"  >
    </div>

    
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
 
  <script>
    
   
   
    $(document).ready(function () {
      $('#summernote').summernote({
        tabsize: 2,
        height: 100,
        fontNames: ['Arial', 'Arial Black', 'Courier New', 'Times New Roman', 'Verdana'],

        toolbar: [
      // Font Style
      ['style', ['bold', 'italic', 'underline', 'clear']],
      
      // Font
      ['font', ['strikethrough', 'superscript', 'subscript', 'fontsize', 'color']],
      
      // Lists
      ['para', ['ul', 'ol', 'paragraph']],
      
      // Insert
      ['insert', ['link', 'picture', 'video', 'table', 'hr']],
      
      // Formatting
      ['format', ['normal', 'blockquote', 'code']],
      
      // Font Family (custom option)
      ['fontfamily', ['fontname']],
      
      // Misc
      ['height', ['height']],
      
      // Special Characters
      ['insert', ['symbol', 'emoji']],
      
      // View
      ['view', ['fullscreen', 'codeview', 'help']],
    ],
 
      });
 
      
      $("#addCourseForm").validate({
        rules: {
          title: {
            required: true,
            minlength: 2,
            maxlength: 50,
          },
          
          duration: {
            required: true,
            number: true,
          },
          regularPrice: {
            required: true,
            number: true,
          },
          discountedPrice: {
            required: true,
            number: true,
          },
          lectureCount: {
            required: true,
            number: true,
          },
          studyMode: {
            required: true,
          } 
        
        },
        messages: {
          // Messages for each field if validation fails
          title: {
            required: "Please enter the course title",
            minlength: "Title must be at least 2 characters",
            maxlength: "Title must not exceed 50 characters",
          },
          
          duration: {
            required: "Please enter the course duration",
            number: "Please enter a valid number",
          },
          regularPrice: {
            required: "Please enter the regular price",
            number: "Please enter a valid number",
          },
          discountedPrice: {
            required: "Please enter the discounted price",
            number: "Please enter a valid number",
          },
          lectureCount: {
            required: "Please enter the lecture count",
            number: "Please enter a valid number",
          },
          studyMode: {
            required: "Please select the study mode"

          } 
        },
        submitHandler: function (form, event) {
          event.preventDefault();
          alert("hi");

            let formData = new FormData();
            let form_data = $("form").serializeArray();

            let content = $('#summernote').summernote('code');
            
            formData.append("content",  content );
            console.log("dddd",content)
            $.each(form_data, function (key, input) {
            
              formData.append(input.name,  input.value );

            });
            console.log($("#file")[0])
            let files = $("#file")[0].files;  // Use [0] to get the DOM element from jQuery object

            if (files.length > 0) {
              for (let i = 0; i < files.length; i++) {

              
                formData.append('file', files[i]);
              }
            }

          // The rest of your code for AJAX submission
          console.log("file " , file);
          console.log("foromdata", form_data);
          console.log("data" ,formData);
          // The rest of your code for AJAX submission

          let formData1 = new FormData();
          formData1.append('title', 'dasfasdfasd');

          console.log("formData1" , formData1)
          $.ajax({
                url: '/admin/course',
                type: 'POST',
                data: formData, 
                contentType:false,   // Don't set contentType
                processData: false,  // Don't process the data
                 success: function (response) {
                    console.log('Success:', response);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });

        }
      });
  
  
  
  
   
    });
    
    
    // summernote

 
    </script>


</body>

</html>