<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/style.css">
   <!-- Option 1: Include in HTML -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>

  <body>
<main class="container-xxl admin-area">
  <div class="row g-0">
        
    <%- include('partials/sidebar.ejs')%>

 <div class="col">
   <%- include('partials/nav.ejs')%>
      
     <!-- add faculty detail form -->
     <section class="form-area">
      <div class="row">
        <div class="col-12">
          <div class="form-header">
          <div class="form-title">
            <h2>Add Faculty Here</h2>
            <!-- <p>Make Sure cross check all Details carefully Before Press Add Button</p> -->
            </div>
          <div class="form-submit">
              <button type="submit" class="btn btn-primary">Add Faculty</button>
            </div>
          </div>
         
        </div>
        <div class="col-12">
          <form action="" method="POST" class="custom-form" >
            <!-- form main area -->
            <div class="row">
            <div class="col-md-8">
            <div class="form-main">
            
              <div class="faculty-img">
                <img src="/assets/img/7.admin-panel/1.faculty/faculty-placeholder.jpg" alt="">
              </div>
              <div class="faculty-hover">
                <label for="image" class="form-label">Upload Image</label>
                <input class="" type="file" id="image" name="image">
              </div>
         
              <!-- faculty name  -->
            <div class="mb-3 mt-5">
              <label for="facultyName" class="form-label">Faculty Name</label>
              <input type="text" class="form-control" id="facultyName" name="facultyName" required>
            </div>

            <!-- faculty specialization -->
            <div class="mb-3">
              <label for="specialization" class="form-label">Specialization</label>
              <input type="text" class="form-control" id="specialization" name="specialization" required>
            </div>

            <!-- faculty qualification -->
            <div class="mb-3">
              <label for="qualification" class="form-label">Qualification</label>
              <input type="text" class="form-control" id="qualification" name="qualification" required>
            </div>

            
            <!-- faculty qualification -->
            <div class="mb-3">
              <label for="qualification" class="form-label">Qualification</label>
              <input type="text" class="form-control" id="qualification" name="qualification" required>
            </div>

            <!-- faculty experience -->
            <div class="mb-3">
              <label for="experience" class="form-label">Experience (in years)</label>
              <input type="number" class="form-control" id="experience" name="experience" required>
            </div>

            <!-- faculty eamil -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <!-- faculty contact number -->
            <div class="mb-3">
              <label for="contactNumber" class="form-label">Contact Number</label>
              <input type="tel" class="form-control" id="contactNumber" name="contactNumber" required>
            </div>

               <!-- joining date -->
                <div class="mb-3">
                  <label for="startDate" class="form-label">Joining Date</label>
                  <input type="date" class="form-control" id="startDate" name="startDate" required>
                </div>


              <!-- faculty salary -->
              <div class="mb-3">
                <label for="student-count" class="form-label">Salary </label>
                <input type="number" class="form-control" id="student-count" name="student-count" required>
              </div>
              
          
          </div>
        </div>
          
          <!-- form side bar area -->
          <div class="col-md-4">
            <div class="form-sidebar">
        
            <!-- select mode -->
            <div class="mb-3">
              <label class="form-label">Select Mode</label>
              <div class="d-flex">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="mode" id="onlineMode" value="Online" checked>
                <label class="form-check-label" for="onlineMode">
                  Online
                </label>
              </div>
              <div class="form-check ms-3">
                <input class="form-check-input" type="radio" name="mode" id="offlineMode" value="Offline">
                <label class="form-check-label" for="offlineMode">
                  Offline
                </label>
              </div>
            </div>
            </div>

          <!-- alot courses -->
          <div class="mb-3 custom-checkbox">
            <label for="batches" class="form-label">Select Courses</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="batchesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Select Courses
              </button>
              <ul class="dropdown-menu" aria-labelledby="batchesDropdown">
                <li>
                  <input class="form-check-input" type="checkbox" value="Morning Batch" id="morningBatch" name="batches[]">
                  <label class="form-check-label" for="morningBatch">Morning Batch (9:00AM to 12:00)</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" value="Afternoon Batch" id="afternoonBatch" name="batches[]">
                  <label class="form-check-label" for="afternoonBatch">Afternoon Batch (12:00 to 3:00PM)</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" value="Evening Batch" id="eveningBatch" name="batches[]">
                  <label class="form-check-label" for="eveningBatch">Evening Batch (4:00PM to 7:00PM)</label>
                </li>
              </ul>
            </div>
           </div>

            <!-- alot batches -->
          <div class="mb-3 custom-checkbox">
            <label for="batches" class="form-label">Select Batches</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="batchesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Select Batches
              </button>
              <ul class="dropdown-menu" aria-labelledby="batchesDropdown">
                <li>
                  <input class="form-check-input" type="checkbox" value="Morning Batch" id="morningBatch" name="batches[]">
                  <label class="form-check-label" for="morningBatch">Morning Batch (9:00AM to 12:00)</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" value="Afternoon Batch" id="afternoonBatch" name="batches[]">
                  <label class="form-check-label" for="afternoonBatch">Afternoon Batch (12:00 to 3:00PM)</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" value="Evening Batch" id="eveningBatch" name="batches[]">
                  <label class="form-check-label" for="eveningBatch">Evening Batch (4:00PM to 7:00PM)</label>
                </li>
              </ul>
            </div>
           </div>

             <!-- add Image -->
             <div class="mb-3">
              <label for="resume" class="form-label">Upload Resume</label>
              <input class="" type="file" id="resume" name="resume">
            </div>

        </div>
      
        </div>
        </div>
          
          </form>
        </div>
      </div>
    
    </section>

 
 
      
     
    </div>
  </div>
  </main>

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
    
