//colors
$primary:#003366;
$seconday:#4CAF50;
$accent:#FFA500;

$dark:#333333;
$light:#fff;
$base:#fff;

$section-bg-alt-1: #ECEFF1;
$section-bg-alt-2: #FAFAFA;
$section-bg-alt-3: #F5F5F5;
$section-bg-alt-4: #f7f7f7;
