 

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div class="cta-text">
                            <h4><strong>Head Office-</strong></h4>
                            <span> Paradise mall, 5, Baghpat Rd <br> Sabun Godam,
                                Jwala Nagar,Naval Vihar, <br> Meerut, Uttar Pradesh
                                250002</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div class="cta-text">
                            <h4><strong>Corporate Office-</strong></h4>
                            <span> Office No. 306, 3rd Floor, <br> H-140 BSI Building
                                Sector-63,Noida</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-telephone-fill"></i> 
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 8449511111</span>  <br>
                            <span>info@educationacademy.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/assets/img/1.logo/ea-logo.png" class="img-fluid" alt="logo"></a>
                            <p>E. Academy</p>
                        </div>
                        <div class="footer-text">
                            <p>Maximize your learning experience by choosing Education Academy committed to providing affordable and effective education.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg p-3"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg p-3"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg p-3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget mt-4 mt-md-0">
                        <div class="footer-widget-heading">
                            <h3>Our Courses</h3>
                        </div>
                        <ul>
                            <li><a href="/courseview/IIT-JEE-2024-Offline">IIT JEE</a></li>
                            <li><a href="/courseview/NEET-2024-Offline">NEET</a></li>
                            <li><a href="/courseview/UP-Police-2024-Offline">UP POLICE</a></li>
                            <li><a href="/courseview/science-stream-Offline">SCIENCE STREAM</a></li>
                            <li><a href="/courseview/commerce-stream-Offline">COMMERCE STREAM</a></li>
                      
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="footer-widget mt-4 mt-md-0">
                        <div class="footer-widget-heading">
                            <h3>Quick Links</h3>
                        </div>
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class=" col text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024, All Right Reserved  <a href="/"><strong>Education Academy</strong></a></p>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</footer>


 