<%- include('partials/header.ejs') %>
 


 <!-- contact hero start -->
<section class="contact-hero-area section-padding">
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="contact-text section-title">
                    <h2>Contact US</h2>
                    <p>15 Year of experiences</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact hero end -->

<!-- contact form start -->
<section class="contact-form-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title">
                    <h2>Contact Us For any query</h2>
                    <p>13 year of experiences</p>
                </div>
                
            </div>
        </div>
    <div class="row">
        <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                   <input type="txt" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
                 </div>
                <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="primary-button mb-3">Submit</button>
                  </div>
                
            </div>
            
        </div>
    </div>
</section>
<!-- contact form end -->

<!-- contact information start -->
<section class="contact-info-area section-padding">
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 mt-md-0">
            <div class="contact-info-item">
                <i class="bi bi-telephone-fill"></i>
                <span>Call Us:</span>
                <span><a href="tel:+91 8449511111">844951111</a></span>
            </div>
            <div class="contact-info-item">
                <i class="bi bi-envelope-fill"></i>
                <span>Email Us:</span>
                <span><a href="mailto:contact@educationacademy.in">contact@educationacademy.in</a></span>
            </div>
        <div class="contact-info-item">
            <i class="bi bi-geo-alt-fill"></i>
            <span>Head Office</span>
            <address>Paradise mall, 5, Baghpat Rd Sabun Godam,
                Jwala Nagar,Naval Vihar, Meerut, Uttar Pradesh
                250002</address>
        </div>
        <div class="contact-info-item">
            <i class="bi bi-geo-alt-fill"></i>
            <span>Corporate Office</span>
            <address>Office No. 306, 3rd Floor, H-140 BSI Building
                Sector-63,Noida</address>
        </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
            <div class="contact-map">

            </div>
        </div>
    </div>
</div>
</section>
<!-- contact information end -->

   <!-- cta area start -->
   <section class="cta-area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="cta-text ">
                    <h2>Join 15 Million students on the app today!</h2>
                    <p>Creating new benchmarks in learning experiences</p>
                </div>
                <div class="cta">
                    <button class="cta-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta area end -->


<!-- facultyView info area end -->
<%- include('partials/footer.ejs') %>
<%- include('partials/copyright.ejs') %>