.form-area{
    padding: 20px 30px 0px 30px;
    .form-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px 0px 0px;
      .form-title{
        text-align: start;
        h2{
            
            font-weight: $bold;
            color:$accent-color;
            
        }
        p{
            margin-top: 10px;
        }
    }
    }
    .custom-form{
        margin-top: 20px;
        .form-main-area{

        }
       
        .form-sidebar{
            padding: 20px 0px 0px 20px;
            // box-shadow: $shadow-1;
            border: $border3;
           
            // height: 100vh;
            .custom-checkbox{
                button{
                box-shadow: none;
                background-color: transparent;
                color: $dark;
                padding: 5px 10px;
                border-radius: 5px;
                }
                .dropdown-menu{
                    padding: 10px;
                }
            }
        }
        
        .form-main {
            position: relative;
            border: $border3;
            padding: 20px;
            margin-top: 50px;
          
            .faculty-img {
              position: absolute;
              top: -8%;
              left: 2%;
              height: 120px;
              width: 120px;
              border-radius: 50%;
              overflow: hidden;
          
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
          
              &:hover + .faculty-hover {
                display: block;
                position: absolute;
                top: -8%;
                left: 2%;
                height: 50px;
                width: 50px;
              }
            }
          
            .faculty-hover {
              display: none;
            }
          }
          
        .form-label{
           font-size: $small-font;
           font-weight: $bold;
        }
        .form-control{
         height: 30px;
        }
    }
   
}