.admin-sidebar-area {
    background-color: $primary-color;
    height: 100vw;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  
    ul {
      list-style: none;
  
      li {
       margin-top: 10px;
        h4{
         line-height: 100%;
          padding: 10px 20px;
          color: $light;
          font-weight: $bold;
          border-bottom: 1px solid #ffffff69;
        }
        a{
            display: block;
            color: $light;
            padding: 10px 20px;
            font-weight: $reg;
        i {
          margin-right: 10px;
          
        }
  
        &:hover {
          background-color: $secondary-color;
        }
  
      }
    }

    }
  }
  