.admin-header{
  padding: 4px 0px;
    box-shadow: $shadow-1;
    border: $border1;
    background-color: $light;

  .nav{
    align-items: center;
 
    .nav-item{
    display: inline-block;
     padding: 5px 10px;
     span{
      font-size: 2rem;
      font-weight: $bold;
     }

    }
    .header-profile{
        margin-left: auto;
    }
}
}