
//style for desktop menu
.nav-section{

  background-color: $text-light;
  box-shadow: $shadow-1;
  
  display: flex;
  justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px 50px;
    margin: auto;
    z-index: 1001;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
     
    .logo{
         height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        a{
          &:hover{
            font-size: 40px;
            font-weight: $bold;
            line-height: 100%;
            -webkit-text-stroke: 2px $primary-color;
            letter-spacing: 1.5px;
            color: $primary-color;
          }
        }
       img{
         height: 60px;
         margin-right: 8px;
        }
        span{
          font-size: 40px;
          font-weight: $bold;
          line-height: 100%;
          -webkit-text-stroke: 2px $primary-color;
          letter-spacing: 1.5px;
      
        }
     // Media query for tablets (portrait and landscape)
     @media only screen and (min-width: 600px) and (max-width: 1200px) {
     span{
    font-size: 22px;

     }
     }
       
}

.rightItems{
display: flex;


.nav-menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
  .nav-menu-item {
     
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
    margin-right: 30px;
    span{
      display: flex;
      font-weight: 600;
      
    }
    .d-dropdown-item {
      display: none;
      position: absolute;
      z-index: 1;
      top: 100%;
       
      left: 0;
      flex-direction: column;
      min-width: max-content;
      border-radius:5px;
      border: $border_menu;
      padding: 10px 0;
      box-shadow:$shadow-menu ;
             background-color: $text-light;

             span{
              background-color: white;
              padding: 2px 30px 5px 20px ;
              text-transform: uppercase;
              font-weight: 600;
              font-size: $small-font;
          
              color:black;
              &:hover{
                color: $base;
                background-color:$accent;
              }
            }      
      a{
        background-color: white;
        padding: 2px 30px 5px 20px ;
        font-size: $small-font;
        text-transform: uppercase;
        color:black;
        

        &:hover{
          color: $base;
          background-color:$accent;
        }
      }
      .secondMenu{

     position: relative;
      .d-dropdown-item-1 {
        display: none;
        position: absolute;
        flex-direction: column;
        z-index: 1;
        top: 0;
        border-radius: 5px;
      
        left: 100%;
        border: $border_menu;
        box-shadow: $shadow-menu ;
        background-color: $text-light;
        padding: 10px 0;
        a{
          background-color: white;
          padding: 2px 30px 5px 20px ;
          font-size: $small-font;
 
          color:black;
          text-transform: uppercase;
          &:hover{
            color: $base;
            background-color:$accent;
          }
        }
      }

      &:hover .d-dropdown-item-1,
      &:focus-within .d-dropdown-item-1 {
        display: flex;
      }
    }
    }
   

    &:hover .d-dropdown-item,
    &:focus-within .d-dropdown-item {
      display: flex;
    }

    // &:hover .d-dropdown-item-1,
    // &:focus-within .d-dropdown-item-1 {
    //   display: block;
    // }
  }

  .m-menu {
    position: relative;
    .d-dropdown-item {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 30%;
      padding: 20px;
      box-shadow: $shadow-1;
      background-color: $text-light;

      .d-dropdown-item-1 {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        padding: 20px;
        box-shadow: $shadow-1;
        background-color: $text-light;
      }
    }
  }
}

}

}




// mobile menu style
.mobile-menu-area{
  box-shadow: $shadow-1;
  border: $border1;
  padding: 4px 0px;
  .mobile-menu{
    display: flex;
    display: row;
    justify-content: space-between;
    align-items: center;
    .mobile-logo{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      a{
        &:hover{
             font-size: 20px;
        font-weight: $bold;
        color: $primary-color;
        -webkit-text-stroke: 2px $primary-color;
        color: $primary-color;
        letter-spacing: 1.5px;
   }
  }
      img{
        height: 30px;
        margin-right: 8px;
      }
      span{
        font-size: 20px;
        font-weight: $bold;
        color: $primary-color;
        -webkit-text-stroke: 2px $primary-color;
        letter-spacing: 1.5px;
    
      }

    }
    
   .mobile-menu-icon{
      i{
        font-size: 28px;
        color: $primary-color;
        &:hover{
          color: $secondary-color;
        }
       }
    }
    .offcanvas-custom {
      // Off-canvas header styles
      .offcanvas-custom-header {
        padding: 20px;
    
        // Styles for the span element inside the header
        span {
          font-size: 20px;
          font-weight: $bold;
          color: $primary-color;
          -webkit-text-stroke: 2px $primary-color;
          letter-spacing: 1.5px;
        }
    
        // Styles for the icon inside the header
        i {
          font-size: 30px;
          color: $primary-color;
    
          &:hover {
            color: $secondary-color;
          }
        }
      }
    
      // Mobile menu items container styles
      .mobile-menu-items {
     border: 0;
     box-shadow: 0;
    
        // Custom accordion item styles
        .custom-accordion-item {
          // Custom accordion header styles
       
          padding: 0;
          border: 0;
          // border-bottom: 1px solid rgba(0, 0, 0, 0.315);
          margin: 10px;
          // padding: 30px 0;
          font-weight: 700;
          .accordion-collapse {
            // background: red;
            padding: 10px!important;
        }
          .custom-accordion-header {
            border: 1px solid #0000001c!important;
            padding: 10px!important;
            button {
              box-shadow: none;
              padding: 5px 10px;
              background-color: $text-light;
          span{
            font-size: 1.5rem;
            font-weight: $bold;
            letter-spacing: 1px;
            // background-color: green;
          }
            &:focus-within{
              background-color: #e7f1ff;;
            }
              
            }
          }
        .show{
          // background-color: #e7f1ff;
        }
          // Custom accordion body styles
          .custom-accordion-body {
            box-shadow: none;
            margin: 0;
            padding: 0;
            // background-color: #e7f1ff;
            
    
            // Styles for the first level menu item
            .m-menu-item-1 {
             margin-left: 20px;
            //  margin-bottom: 10px;
              a {
                display: block;
                 
                color: $text-dark;
                font-size: 1.6rem;
                padding: 15px 0px;
                text-transform: uppercase;
              }
              span{
                display: block;
                font-weight: 600;
                color: #000000;
                /* border-bottom: 1px solid rgba(0, 0, 0, 0.342); */
                margin-right: 20px;
                padding: 14px 0;
                font-size: 1.5rem;
              }
    
              // Styles for the second level menu item
              .m-menu-item-2 {
                 display: flex;
                a{
                  font-size: 1.3rem;
                  color: #333;
                  padding: 10px 0px;
                  display: block;
                  margin: 10px;
                  text-transform: uppercase;
                  background: white;
                  padding: 10px;
                  /* margin-right: 20px; */
                  width: 100%;
                  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 8px 0px;
                  &:hover{
                    color: inherit;
                  }
                }
              }
            }
          }
        }
            
            }
         
          }
        }
        .cta-button{
          margin-top: 20px;
          width: 100%;
        }
      }
 
    
      .accordion .accordion-item .accordion-header button:hover{
        color: inherit!important;
      }

      .accordion-button:focus{

      }

      .accordion-button:not(.collapsed){
        background-color: inherit!important;
        box-shadow: none!important;
      }