<header class="admin-header">
    <ul class="nav">
      <li class="nav-item"><a href="">Dashboard</a></li>
      <li class="nav-item"><a href="">Main Website</a></li>
      <li class="nav-item"><a href="">All Courses</a></li>
      <li class="nav-item"><a href="">Leads</a></li>
      <li class="nav-item header-profile">
        <a href="#" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person-circle"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
  </header>