<div class="col-2">
    <aside class="admin-sidebar-area">
      <ul>
        <li>
          <div class="admin-logo">
          <a href="/">
            <div class="img-box">
              <img src="/assets/img/1.logo/ea-logo.png" alt="">
            </div>
            
          <span>E A</span></a>
          </div>
        </li>
        <li><a href="/admin/dashbaord"><i class="bi bi-arrow-right-square"></i>Dashboard</a></li>
        <li >
          <a href="" class="admin-menu-list" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ><i class="bi bi-arrow-right-square"></i>Courses</a>
          <ul id="collapseOne" class="collapse" >
            <li><a class="dropdown-item" href="">All Course</a></li>
            <li><a class="dropdown-item" href="/admin/course">Add Courses </a></li>
            <!-- <li><a class="dropdown-item" href="#">FAQ's</a></li>
            <li><a class="dropdown-item" href="#">Batchs</a></li> -->
          </ul>
        </li>
        <li><a href="/admin/student"><i class="bi bi-arrow-right-square"></i>Students</a></li>
        <li><a href="/admin/faculty"><i class="bi bi-arrow-right-square"></i>Faculty</a></li>
        <li><a href="/admin/batch"><i class="bi bi-arrow-right-square"></i>Batch</a></li>
        <li><a href="/admin/lead"><i class="bi bi-arrow-right-square"></i>Lead</a></li>
        <li><a href="/admin/purchase"><i class="bi bi-arrow-right-square"></i>Purchase</a></li>
        <li><a href="#"><i class="bi bi-arrow-right-square"></i>Admin</a></li>
      </ul>
    </aside> 
  </div>