
    <aside class="admin-sidebar-area">
      <ul>
        
        <li><h4>Menu</h4></li>
        <li><a href="/admin/courselists"><i class="bi bi-speedometer"></i></i>Dashboard</a></li>
        <!-- <li >
          <a href="" class="admin-menu-list" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ><i class="bi bi-arrow-right-square"></i>Courses</a>
          <ul id="collapseOne" class="collapse" >
            <li><a class="dropdown-item" href="">All Course</a></li>
            <li><a class="dropdown-item" href="/admin/course">Add Courses </a></li>
            <li><a class="dropdown-item" href="#">FAQ's</a></li>
            <li><a class="dropdown-item" href="#">Batchs</a></li>
          </ul>
        </li> -->
        <li><a href="/admin/courselists"><i class="bi bi-book"></i>Courses</a></li>
        <li><a href="/admin/batch"><i class="bi bi-layers"></i>Batch</a></li>
        <li><a href="/admin/faculty"><i class="bi bi-person"></i>Faculty</a></li>
        <li><a href="/admin/student"><i class="bi bi-person-square"></i>Students</a></li>
         <li><a href="/admin/lead"><i class="bi bi-bullseye"></i>Lead</a></li>
        <li><a href="/admin/purchase"><i class="bi bi-receipt-cutoff"></i>Purchase</a></li>
        <li><a href="#"><i class="bi bi-key-fill"></i>Admin</a></li>
      </ul>
    </aside> 